$os-it: OpenSans-Italic;
$os-lig: OpenSans-Light;
$os-reg: OpenSans-Regular;
$os-bold: OpenSans-Bold;
$os-sembold: OpenSans-SemiBold;
$os-exbold: OpenSans-ExtraBold;

.bold {
  font-family: $os-bold;
}

.reg {
  font-family: $os-reg;
}
