.text-center {
  text-align: center;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right;
}
.underline {
  text-decoration: underline;
}
.uppercase {
  text-transform: uppercase;
}
.text-transform-none {
  text-transform: none !important;
}
