a, a:hover, a:active, a:focus,
button, input, button:hover, button:active, button:focus,
input:focus, input:active, select:focus, select:active {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  @include ease;
}
