<section class="banner">
    {{> header}}
    <div class="banner__in">
        <div class="container">
            <div class="row">
                <div class="offset-xl-3 col-xl-3 col-4 d-flex justify-content-end align-items-start">
                    <img class="banner__image" src="{{root}}assets/img/banner__image.png" alt="Banner Image">
                </div>
                <div class="col-xl-6 col-8">
                    <div class="banner__title section__title section__title--decor">
                        <span>Professionals</span>
                        <span>Individuals</span>
                        <span>N3rds</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
