<section class="diff d-none d-xl-block">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="section__title text-center">
                We are different.<br>
                and this unites us
            </div>
        </div>
    </div>
    <div class="diff__in">
        <svg class="diff__border" width="100%" height="249" >
            <use xlink:href="#diff-shape"></use>
        </svg>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3">
                    <div class="diff-slider__wrapper">
                        <div class="diff-slider">
                            <div class="diff-slider__top swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="{{root}}assets/img/diff__top-image--1.jpg" alt="Unites Image">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="{{root}}assets/img/diff__top-image--2.jpg" alt="Unites Image">
                                    </div>
                                </div>
                            </div>
                            <div class="diff-slider__bottom swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="{{root}}assets/img/diff__bottom-image--2.jpg" alt="Unites Image">
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="{{root}}assets/img/diff__bottom-image--1.jpg" alt="Unites Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="diff__nav">
                            <div class="diff__nav--top">
                                <div class="swiper-button-next">
                                    <span>
                                        <svg width="15" height="30">
                                            <use xlink:href="#chevron--next"></use>
                                        </svg>
                                    </span>
                                </div>
                                <div class="swiper-button-prev">
                                    <span>
                                        <svg width="15" height="30">
                                            <use xlink:href="#chevron--prev"></use>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                            <div class="diff__nav--bottom">
                                <div class="swiper-button-next">
                                    <span>
                                        <svg width="15" height="30">
                                            <use xlink:href="#chevron--next"></use>
                                        </svg>
                                    </span>
                                </div>
                                <div class="swiper-button-prev">
                                    <span>
                                        <svg width="15" height="30">
                                            <use xlink:href="#chevron--prev"></use>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="section__description">Holistkönnerinnen und -könner sind keine gleichgeschalteten Roboter mit einer Musterlösung für jedes Problem. Es gibt keine Workshops in denen man lernt, wie bei Holisticon gearbeitet wird. Jede und jeder ist individuell und das ist auch gut so. Trotzdem verfolgen wir die gleichen Ziele: hochwertige Software, erfolgreiche Projekte, konstruktives Streiten, kreatives Chaos und Selbstorganisation.</div>
                </div>
            </div>
        </div>
    </div>

</section>
