<section class="gallery">
    <div class="gallery__item gallery__item--big js-gallery-toggle">
        <div class="gallery__item-bg" style="background-image: url({{root}}assets/img/gallery__img--1.jpg);"></div>
        <svg class="gallery__item-brackets" width="160" height="119">
            <use xlink:href="#brackets"></use>
        </svg>
        <div class="gallery__item-in">
            <div class="gallery__item-title">Kai Lichtenfels 1</div>
            <div class="gallery__item-position">Title position</div>
            <div class="gallery__item-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a</div>
        </div>
    </div>
    <div class="gallery__item js-gallery-toggle">
        <div class="gallery__item-bg" style="background-image: url({{root}}assets/img/gallery__img--2.jpg);"></div>
        <svg class="gallery__item-brackets" width="160" height="119">
            <use xlink:href="#brackets"></use>
        </svg>
        <div class="gallery__item-in">
            <div class="gallery__item-title">Kai Lichtenfels 2</div>
            <div class="gallery__item-position">Title position</div>
            <div class="gallery__item-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </div>
        </div>
    </div>
    <div class="gallery__item gallery__item--video">
        <div class="gallery__item-bg" style="background-image: url({{root}}assets/img/gallery__img--3.jpg);"></div>
        <button class="gallery__item-button" data-src="https://www.youtube.com/watch?v=XPpTgCho5ZA" data-fancybox>
            <svg width="36" height="36">
                <use xlink:href="#play"></use>
            </svg>
        </button>
    </div>
    <div class="gallery__item gallery__item--big js-gallery-toggle">
        <div class="gallery__item-bg" style="background-image: url({{root}}assets/img/gallery__img--4.jpg);"></div>
        <svg class="gallery__item-brackets" width="160" height="119">
            <use xlink:href="#brackets"></use>
        </svg>
        <div class="gallery__item-in">
            <div class="gallery__item-title">Kai Lichtenfels 4</div>
            <div class="gallery__item-position">Title position</div>
            <div class="gallery__item-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a</div>
        </div>
    </div>
</section>
