<header class="header">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <a class="header__logo" href="#">
                <svg class="header__logo-icon" width="20" height="20" >
                    <use xlink:href="#logo"></use>
                </svg>
            </a>
            <div class="header__right d-flex justify-content-between align-items-center">
                <nav class="header__nav">
                    <a class="header__nav-link" href="#">Home</a>
                    <a class="header__nav-link" href="#">Kompetenzen</a>
                    <a class="header__nav-link" href="#">Team</a>
                    <a class="header__nav-link" href="#">Events</a>
                    <a class="header__nav-link" href="#">Karriere</a>
                    <a class="header__nav-link" href="#">Blog</a>
                </nav>

                <button class="header__lang">
                    <span>en</span>
                </button>
                <button class="header__hamburger js-toggle-menu">
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</header>
