<section class="team section--with-decor">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="section__title section__title--decor text-center">
                Meat the <span>team</span>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1">
                <div class="section__description">Holistkönnerinnen und -könner sind keine gleichgeschalteten Roboter mit einer Musterlösung für jedes Problem. Es gibt keine Workshops in denen man lernt, wie bei Holisticon gearbeitet wird. Jede und jeder ist individuell und das ist auch gut so. Trotzdem verfolgen wir die gleichen Ziele: hochwertige Software, erfolgreiche Projekte, konstruktives Streiten, kreatives Chaos und Selbstorganisation.</div>
            </div>
        </div>

        <div class="team-tabs d-none d-sm-flex">
            <button class="team-tabs__item team-tabs__item--active">
                <span>All</span>
            </button>
            <button class="team-tabs__item">
                <span>WEBAPPS</span>
            </button>
            <button class="team-tabs__item">
                <span>BPM / PROZESSAUTOMATISIERUNG</span>
            </button>
            <button class="team-tabs__item">
                <span>AGIL</span>
            </button>
            <button class="team-tabs__item">
                <span>SMART DATA</span>
            </button>
            <button class="team-tabs__item">
                <span>SOFTWARE-ARCHITEKTUR</span>
            </button>
            <button class="team-tabs__item">
                <span>SECURITY</span>
            </button>
            <button class="team-tabs__item">
                <span>UI/UX</span>
            </button>
            <button class="team-tabs__item">
                <span>LEBENDIGE SOFTWARE</span>
            </button>
            <button class="team-tabs__item">
                <span>BACKOFFICE</span>
            </button>
        </div>
        <div class="row">
            <div class="col-sm-12 col-10 offset-1 offset-sm-0">
                <div class="d-flex justify-content-center w-100">
                    <input class="team__search with-border" type="text" placeholder="Suche nach name">
                </div>

                <div class="d-flex d-sm-none justify-content-center team__select-wrapper">
                    <select class="js-select w-100">
                        <option>All</option>
                        <option>WEBAPPS</option>
                        <option>BPM / PROZESSAUTOMATISIERUNG</option>
                        <option>AGIL</option>
                        <option>SMART DATA</option>
                        <option>SOFTWARE-ARCHITEKTUR</option>
                        <option>SECURITY</option>
                        <option>UI/UX</option>
                        <option>LEBENDIGE SOFTWARE</option>
                        <option>BACKOFFICE</option>
                    </select>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-sm-12 col-10 offset-1 offset-sm-0">
                <div class="team-slider__wrapper">

                    <div class="team-slider swiper-container">
                        <div class="swiper-wrapper">
                            <div class="team-slider__item swiper-slide">
                                <div class="team-slider__item-top">
                                    <img class="img-responsive" src="{{root}}assets/img/team__img--1.jpg" alt="Teammate">
                                    <div class="team-slider__item-title">Thomas</div>
                                </div>
                                <div class="team-slider__item-bottom">
                                    <div class="team-slider__item-subtitle">Jane Smith</div>
                                    <div class="team-slider__item-description">Agiler Coach aus Überzeugung: Transparente Kommunikation, wertschöpfende Arbeit und vor allem Respekt in der Zusammenarbeit treiben mich an.  Privatbin ich begeisterte WOLerin (Working Out Loud) und singe gern, egal ob im Chor oder beim Karaoke.</div>
                                    <div class="team-slider__item-socials">
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#tw"></use>
                                            </svg>
                                        </a>
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#x"></use>
                                            </svg>
                                        </a>
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#in"></use>
                                            </svg>
                                        </a>
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#ml"></use>
                                            </svg>
                                        </a>
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#bl"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-slider__item swiper-slide">
                                <div class="team-slider__item-top">
                                    <img class="img-responsive" src="{{root}}assets/img/team__img--2.jpg" alt="Teammate">
                                    <div class="team-slider__item-title">Jane</div>
                                </div>
                                <div class="team-slider__item-bottom">
                                    <div class="team-slider__item-subtitle">Jane Smith</div>
                                    <div class="team-slider__item-description">Agiler Coach aus Überzeugung: Transparente Kommunikation, wertschöpfende Arbeit und vor allem Respekt in der Zusammenarbeit treiben mich an.  Privatbin ich begeisterte WOLerin (Working Out Loud) und singe gern, egal ob im Chor oder beim Karaoke.</div>
                                    <div class="team-slider__item-socials">
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#tw"></use>
                                            </svg>
                                        </a>
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#x"></use>
                                            </svg>
                                        </a>
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#in"></use>
                                            </svg>
                                        </a>
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#ml"></use>
                                            </svg>
                                        </a>
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#bl"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-slider__item swiper-slide">
                                <div class="team-slider__item-top">
                                    <img class="img-responsive" src="{{root}}assets/img/team__img--3.jpg" alt="Teammate">
                                    <div class="team-slider__item-title">John</div>
                                </div>
                                <div class="team-slider__item-bottom">
                                    <div class="team-slider__item-subtitle">Jane Smith</div>
                                    <div class="team-slider__item-description">Agiler Coach aus Überzeugung: Transparente Kommunikation, wertschöpfende Arbeit und vor allem Respekt in der Zusammenarbeit treiben mich an.  Privatbin ich begeisterte WOLerin (Working Out Loud) und singe gern, egal ob im Chor oder beim Karaoke.</div>
                                    <div class="team-slider__item-socials">
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#tw"></use>
                                            </svg>
                                        </a>
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#x"></use>
                                            </svg>
                                        </a>
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#in"></use>
                                            </svg>
                                        </a>
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#ml"></use>
                                            </svg>
                                        </a>
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#bl"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-slider__item swiper-slide">
                                <div class="team-slider__item-top">
                                    <img class="img-responsive" src="{{root}}assets/img/team__img--1.jpg" alt="Teammate">
                                    <div class="team-slider__item-title">Thomas</div>
                                </div>
                                <div class="team-slider__item-bottom">
                                    <div class="team-slider__item-subtitle">Jane Smith</div>
                                    <div class="team-slider__item-description">Agiler Coach aus Überzeugung: Transparente Kommunikation, wertschöpfende Arbeit und vor allem Respekt in der Zusammenarbeit treiben mich an.  Privatbin ich begeisterte WOLerin (Working Out Loud) und singe gern, egal ob im Chor oder beim Karaoke.</div>
                                    <div class="team-slider__item-socials">
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#tw"></use>
                                            </svg>
                                        </a>
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#x"></use>
                                            </svg>
                                        </a>
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#in"></use>
                                            </svg>
                                        </a>
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#ml"></use>
                                            </svg>
                                        </a>
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#bl"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-slider__item swiper-slide">
                                <form class="team-slider__form">
                                    <img class="img-responsive" src="{{root}}assets/img/team-form__img.png" alt="Und du?">
                                    <div class="team-slider__form-in">
                                        <input class="team-slider__form-input" type="text" placeholder="Name">
                                        <input class="team-slider__form-input" type="email" placeholder="E-mail">
                                        <input class="team-slider__form-input" type="tel" placeholder="Telephone">
                                        <button class="button team-slider__form-button" type="submit">Join us</button>
                                    </div>
                                </form>
                            </div>
                            <div class="team-slider__item swiper-slide">
                                <div class="team-slider__item-top">
                                    <img class="img-responsive" src="{{root}}assets/img/team__img--3.jpg" alt="Teammate">
                                    <div class="team-slider__item-title">Jane</div>
                                </div>
                                <div class="team-slider__item-bottom">
                                    <div class="team-slider__item-subtitle">Jane Smith</div>
                                    <div class="team-slider__item-description">Agiler Coach aus Überzeugung: Transparente Kommunikation, wertschöpfende Arbeit und vor allem Respekt in der Zusammenarbeit treiben mich an.  Privatbin ich begeisterte WOLerin (Working Out Loud) und singe gern, egal ob im Chor oder beim Karaoke.</div>
                                    <div class="team-slider__item-socials">
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#tw"></use>
                                            </svg>
                                        </a>
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#x"></use>
                                            </svg>
                                        </a>
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#in"></use>
                                            </svg>
                                        </a>
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#ml"></use>
                                            </svg>
                                        </a>
                                        <a class="team-slider__item-social-link" href="#">
                                            <svg width="36" height="36">
                                                <use xlink:href="#bl"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-scrollbar d-none d-xl-block"></div>
                    </div>
                    <div class="team-slider__nav">
                        <div class="swiper-button-next">
                            <span>
                                <svg width="18" height="33">
                                    <use xlink:href="#chevron--next"></use>
                                </svg>
                            </span>
                        </div>
                        <div class="swiper-button-prev">
                            <span>
                                <svg width="18" height="33">
                                    <use xlink:href="#chevron--prev"></use>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
